body {
	text-align: center;
	margin: 0;
}

.top-container {
	background-color: #e0ebe8;
	position: relative;
	padding: 0;
}

.inner-container {
	position: relative;
	padding: 200px 0 0;
}

.front-header {
	margin: 0;
	font-family: 'Great Vibes', cursive;
	font-size: 5.625rem;
	color: #2b580c;
}

h2 {
	color: #387013;
}

h3 {
	color: #639a67;
}

.intro {
	line-height: 1.5;
}

.front-paragraph {
	color: #639a67;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: ;
}

.positioning {
	position: absolute;
}

.cloud1 {
	right: 10%;
	top: 100px;
	width: 12%;
}

.cloud2 {
	right: 20%;
	width: 5%;
}

.cloud3 {
	left: 20%;
	top: 40%;
	width: 10%;
}

.mountain {
	width: 100%;
}

hr {
	width: 50%;
	margin: 40px auto;
}

hr.style-one {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.footer-table {
	margin: 0 auto 0 auto;
	font-size: large;
}

.responsive-container {
	margin: auto;
	padding: 0 5%;
	max-width: 570px;
}

.bottom-container {
	background-color: #e0ebe8;
	padding: 2% 0 1%;
}

.copyright {
	font-size: .9375rem;
}

.attribution {
	font-size: .625rem;
}

.social-media {
	width: 50px;
}

.middle-container {
	padding: 50px 0 50px;
}

input {
	margin-top: 10px;
	width: 20rem;
	height: 3em;
	border-radius: 5px;
	background-color: #a6d1a9;
	font-size: 1.25rem;
}

.skill-row {
	width: 50%;
	margin: 100px auto;
	text-align: left;
	line-height: 1.5;
}

.body-img {
	width: 25%;
	margin: 20px;
	min-width: 150px;
	max-width: 100px;
}

.device-img {
	float: left;
}

.imac-img {
	float: right;
}

.right {
	text-align: right;
	margin-right: 30%;
	text-decoration: underline;
}

.left {
	text-align: left;
	margin-left: 30%;
	text-decoration: underline;
}